.search-result {
  background-color: $grey-1;
  border-bottom: 1px solid $grey-2;
  padding: 1.5rem;

  &:last-child {
    border-bottom: 0;
  }

  &__title {
    margin: 0 0 1rem;
  }

  &__description {
    margin-top: 0;
  }
}
