*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $black;
  font: 1.4em / 1.5em $font-family;
}

a:not([class]) {
  color: $blue;

  &:hover {
    color: darken($blue, 5%);
  }
}

p {
  margin: 1.5rem 0;
}

input[type="text"] {
  border: 0;
  font-size: 16px;
  padding: 1.5rem;
  width: 100%;
}
